---
layout: homepage
---

<div class="preloader-mask">
  <div class="preloader"></div>
</div>

<section id="hero" class="hero-section bg1 bg-cover window-height light-text">
  {% include social-navs.html %}

  <div class="heading-block centered-block align-center">
    <div class="container">
      <h5 class="heading-alt" style="margin-bottom: 8px;"><span class="fa fa-calendar-o base-clr-txt"></span>13.aug 2016 <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>Makespace, Quill City Mall</h5>
      <h1 class="extra-heading">RubyConf KL</h1>

      <!-- Countdown start -->
      <div class="row counters-wrapper countdown">
        <div class="col-sm-3">
          <div class="counter-block counter-block-no-border counter-block-white has-separator">
            <div class="counter-box">
              <div class="counter-content">
                <span class="count">{dnn}</span>

                <p class="title">days</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="counter-block counter-block-no-border counter-block-white has-separator">
            <div class="counter-box">
              <div class="counter-content">
                <span class="count">{hnn}</span>

                <p class="title">hours</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="counter-block counter-block-no-border counter-block-white has-separator">
            <div class="counter-box">
              <div class="counter-content">
                <span class="count">{mnn}</span>

                <p class="title">minutes</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="counter-block counter-block-no-border counter-block-white">
            <div class="counter-box">
              <div class="counter-content">
                <span class="count">{snn}</span>

                <p class="title">seconds</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="btns-container">
        <a href="#tickets" class="btn btn-md" data-modal-link="email-ticket">GET TICKETS</a>
      </div>

      <!-- countdown end -->

    </div>
  </div>
</section>

{% include homepage-header.html %}

<section id="about" class="section align-center">
  <div class="container">
    <div class="col-sm-3 align-center">
      <span class="icon section-icon icon-multimedia-12"></span>
    </div>

    <div class="col-sm-9 align-left">
      <h6>About Event</h6>
      <p>
        Our very own, very first, homegrown Ruby Conference.
      </p>
      <p>
        <span class="highlight">RubyConf KL</span> is a single day, weekend conference held by the Ruby Community in the Kuala Lumpur area.
        This event is targeted for the local tech community, and we welcome anyone from hardcode Ruby-ists to technology enthusiasts.
      </p>
      <p>
        Expect awesome content, friendly community members and a wonderful time of networking.
      </p>
      <p>So yeah ... it's like <a href="http://rubybrigade.my" target="_blank">Ruby Tuesdays</a> on steriods :D</p>
    </div>

  </div>
</section>

<section id="counters" class="section align-center overlay bg-cover light-text">
  <div class="container">

    <div class="row counters-wrapper">
      <div class="col-sm-4">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="14">0</span>

              <p class="title">speakers</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="2">0</span>

              <p class="title">tracks</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="150">0</span>

              <p class="title">tickets</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section id="speakers" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-faces-users-04"></span>
    <h3>Speakers</h3>
    <p class="text-alt">Meet our <span class="highlight">speakers</span></p>
    <br />
    <br />

    <p>We are currently looking for speakers. <a href="/call-for-proposal">Call for proposals</a> ends at <span class="highlight">15th June 2016</span>.</p>

  </div>

  <div class="col-sm-12 align-center">
    <a href="/call-for-proposal" target="_blank" class="btn btn-outline-clr btn-md">BE A SPEAKER</a>
  </div>
</section>

<section id="schedule" class="section schedule-section align-center">
  <div class="container">
    <span class="icon section-icon icon-office-21"></span>
    <h3>Schedule</h3>
    <br />
    <br />

    <div class="col-md-10 col-md-offset-1">

      <!-- Schedule start -->
      <div class="row schedule schedule-light">

        <!-- Navigation by day start -->
        <ul class="nav nav-schedule">
          <li class="active"><a href="#track1" data-toggle="tab">Track #1</a><div class="arrow"></div></li>
          <li><a href="#track2" data-toggle="tab">Track #2</a><div class="arrow"></div></li>
        </ul>
        <!-- Navigation by day end -->

        <!-- First level content start -->
        <div class="tab-content">

          <!-- Track 1 content start -->
          <div id="track1" class="tab-pane fade active in">

            <!-- Accordion start -->
            <div class="panel-group" id="track1_timeline">

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time1" class="schedule-item-toggle">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>9:00 AM - 9:30 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Registration <i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time2" class="schedule-item-toggle">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>9:30 AM - 10:00 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Introduction & Keynote <i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time3" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 AM - 11:00 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time4" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>11:00 AM - 12:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time5" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>12:00 PM - 1:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time6" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>1:00 PM - 2:00 PM</strong>
                  <div class="lecture-icon-wrapper">
                    <span class="fa fa-cutlery"></span>
                  </div>
                  <h6 class="title">Lunchtime<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>2:00 PM - 3:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>3:00 PM - 4:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>4:00 PM - 5:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>5:00 PM - 6:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

            </div>
            <!-- Accordion end -->

          </div>
          <!-- Track 1 content end -->

          <!-- Track 2 content start -->
          <div id="track2" class="tab-pane fade in">

            <!-- Accordion start -->
            <div class="panel-group" id="track2_timeline">

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time1" class="schedule-item-toggle">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>9:00 AM - 9:30 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Registration <i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time2" class="schedule-item-toggle">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>9:30 AM - 10:00 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Introduction & Keynote <i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time3" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 AM - 11:00 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time4" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>11:00 AM - 12:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time5" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>12:00 PM - 1:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time6" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>1:00 PM - 2:00 PM</strong>
                  <div class="lecture-icon-wrapper">
                    <span class="fa fa-cutlery"></span>
                  </div>
                  <h6 class="title">Lunchtime<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>2:00 PM - 3:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>3:00 PM - 4:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>4:00 PM - 5:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>5:00 PM - 6:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentation / Workshop<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

            </div>
            <!-- Accordion end -->

          </div>
          <!-- Track 2 content end -->

        </div>
        <!-- First level content end -->

      </div>
      <!-- Schedule end -->

    </div>

  </div>

</section>


<section id="tickets" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-shopping-04"></span>
    <h3>Tickets</h3>
    <p class="text-alt">Get yours while they're still <span class="highlight">available</span></p>
    <br/>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        <div class="package-column special-column">
          <h6 class="package-title">Super Early Birds</h6>
          <div class="package-price">
            <span class="currency">RM</span>35
          </div>
          <div class="package-detail">
            First 30 Attendees
          </div>
          <a href="https://peatix.com/sales/event/164219/tickets" target="peatix" class="btn btn-lg">Buy now</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="package-column">
          <h6 class="package-title">Early Birds</h6>
          <div class="package-price">
            <span class="currency">RM</span>45
          </div>
          <div class="package-detail">
            Next 50 Attendees
          </div>
          <a href="https://peatix.com/sales/event/164219/tickets" target="peatix" class="btn btn-lg btn-outline-clr">Buy now</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="package-column">
          <h6 class="package-title">Late Birds</h6>
          <div class="package-price">
            <span class="currency">RM</span>60
          </div>
          <div class="package-detail">
            You snooze you lose ...
          </div>
          <a href="https://peatix.com/sales/event/164219/tickets" target="peatix" class="btn btn-lg btn-outline-clr">Buy now</a>
        </div>
      </div>
    </div>


  </div>
</section>

<section id="code-of-conduct" class="section overlay overlay-clr bg-cover light-text align-center">
  <div class="container">
    <h2>Code of Conduct</h2>
    <p>
      All attendees, speakers, sponsors and volunteers at our conference are required to agree with our code of conduct.<br />
      Organisers will enforce this code throughout the event. We expect cooperation from all participants to help ensure a safe environment for everybody.
    </p>
    <br />
    <br />

    <a href="/code-of-conduct" class="btn btn-lg btn-outline">Code of Conduct</a>
  </div>
</section>

<section id="sponsors" class="section align-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 align-center">
        <span class="icon section-icon icon-documents-bookmarks-12"></span>
        <h3>Event Sponsors</h3>
        <p class="text-alt">companies that <span class="highlight">supports</span> us</p>
        <br/>
        <br/>
      </div>
      <div class="col-sm-12 align-center">
        <a href="/sponsorship" target="_blank" class="btn btn-outline-clr btn-md">BE A SPONSOR</a>
      </div>
    </div>
    <div class="cleafix"><br /><br /></div>
    <div class="row">
      <div class="col-sm-12 align-center">
        <h3>Event Partners</h3>
        <p class="text-alt">our <span class="highlight">partners</span> for the event</p>
        <br/>
        <br/>

        <div class="sponsors">
          <div class="sponsor inline"><a href="http://makespace.my" target="_blank"><img src="assets/img/sponsors/makespace.png" alt="Makespace"></a></div>
          <div class="sponsor inline"><a href="http://rrsoft.co" target="_blank"><img src="assets/img/sponsors/rrsoft.jpg" alt="Rapid River Software"></a></div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="location">
  <div class="contacts-wrapper">
    <div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

    <div class="container contacts-on-map-container">
      <div class="contacts-on-map">
        <h3>Location</h3>

        <ul class="list">
          <li>
            <i class="fa fa-map-marker" style="height:90px"></i>
            <div style="display: inline-block">
              <strong>Makespace</strong><br />
              LG16, Quill City Mall<br />
              1018, Jalan Sultan Ismail<br />
              50250 Kuala Lumpur
            </div>
          </li>
          <li><i class="fa fa-envelope"></i>organisers@rubyconf.my</li>
        </ul>
      </div>
    </div>
  </div>
</section>
