---
layout: homepage
desc: Official website for RubyConf MY
image: http://rubyconf.my/assets/img/logo.png
---

<div class="preloader-mask">
  <div class="preloader"></div>
</div>

<section id="hero" class="hero-section bg1 bg-cover window-height light-text">
  {% include social-navs.html %}

  <div class="heading-block centered-block align-center">
    <div class="container">
      <h5 class="heading-alt" style="margin-bottom: 8px;"><span class="fa fa-calendar-o base-clr-txt"></span>13.aug 2016 <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>Makespace, Quill City Mall</h5>
      <h1 class="extra-heading">RubyConf KL</h1>

      <!-- Countdown start -->
      <div class="row counters-wrapper countdown">
        <div class="col-sm-3">
          <div class="counter-block counter-block-no-border counter-block-white has-separator">
            <div class="counter-box">
              <div class="counter-content">
                <span class="count">{dnn}</span>

                <p class="title">days</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="counter-block counter-block-no-border counter-block-white has-separator">
            <div class="counter-box">
              <div class="counter-content">
                <span class="count">{hnn}</span>

                <p class="title">hours</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="counter-block counter-block-no-border counter-block-white has-separator">
            <div class="counter-box">
              <div class="counter-content">
                <span class="count">{mnn}</span>

                <p class="title">minutes</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="counter-block counter-block-no-border counter-block-white">
            <div class="counter-box">
              <div class="counter-content">
                <span class="count">{snn}</span>

                <p class="title">seconds</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="btns-container">
        <a href="#tickets" class="btn btn-md" data-modal-link="email-ticket">GET TICKETS</a>
      </div>

      <!-- countdown end -->

    </div>
  </div>
</section>

{% include homepage-header.html %}

<section id="about" class="section align-center">
  <div class="container">
    <div class="col-sm-3 align-center">
      <span class="icon section-icon icon-multimedia-12"></span>
    </div>

    <div class="col-sm-9 align-left">
      <h6>About Event</h6>
      <p>
        Our very own, very first, homegrown Ruby Conference.
      </p>
      <p>
        <span class="highlight">RubyConf KL</span> is a single day, weekend conference held by the Ruby Community in the Kuala Lumpur area.
        This event is targeted for the local tech community, and we welcome anyone from hardcode Ruby-ists to technology enthusiasts.
      </p>
      <p>
        Expect awesome content, friendly community members and a wonderful time of networking.
      </p>
      <p>So yeah ... it's like <a href="http://rubybrigade.my" target="_blank">Ruby Tuesdays</a> on steriods :D</p>
    </div>

  </div>
</section>

<section id="counters" class="section align-center overlay bg-cover light-text">
  <div class="container">

    <div class="row counters-wrapper">
      <div class="col-sm-4">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="14">0</span>

              <p class="title">speakers</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="2">0</span>

              <p class="title">tracks</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="150">0</span>

              <p class="title">tickets</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section id="speakers" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-faces-users-04"></span>
    <h3>Speakers</h3>
    <p class="text-alt">Meet our <span class="highlight">speakers</span></p>
    <br />
    <br />

    <div class="row">
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/nick-marden.jpg" alt="Nick Marden" class="img-responsive"></div>
          <h3 class="name">NICK MARDEN</h3>
          <p class="text-alt"><small>Founder,<br />Rapid River Software</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/nickmarden"><span class="fa fa-facebook"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://twitter.com/nick_marden"><span class="fa fa-twitter"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://github.com/nick_marden"><span class="fa fa-github"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://linkedin.com/in/nick-marden-591326"><span class="fa fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/sau-sheong.jpg" alt="Sau Sheong" class="img-responsive"></div>
          <h3 class="name">CHANG SAU SHEONG</h3>
          <p class="text-alt"><small>MD of Digital Technology,<br />Singapore Power</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/sausheong"><span class="fa fa-facebook"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://twitter.com/sausheong"><span class="fa fa-twitter"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://github.com/sausheong"><span class="fa fa-github"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://sg.linkedin.com/in/sausheong"><span class="fa fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/winston.jpg" alt="Winston" class="img-responsive"></div>
          <h3 class="name">WINSTON TEO</h3>
          <p class="text-alt"><small>Founder and Principal Engineer,<br />Jolly Good Code</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/winstonyw"><span class="fa fa-facebook"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://twitter.com/winstonyw"><span class="fa fa-twitter"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://github.com/winston"><span class="fa fa-github"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://sg.linkedin.com/in/winstonyw"><span class="fa fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/prathamesh-sonpatki.jpeg" alt="Prathamesh Sonpatki" class="img-responsive"></div>
          <h3 class="name">PRATHAMESH SONPATKI</h3>
          <p class="text-alt" style="height: 41px;"><small>Director, BigBinary LLC</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://twitter.com/_cha1tanya"><span class="fa fa-twitter"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://github.com/prathamesh-sonpatki"><span class="fa fa-github"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/cha1tanya"><span class="fa fa-linkedin"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="http://cha1tanya.com/"><span class="fa fa-rocket"></span></a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/lincoln-lee.jpg" alt="Lincoln Lee" class="img-responsive"></div>
          <h3 class="name">LINCOLN LEE</h3>
          <p class="text-alt"><small>Senior Infrastructure Engineer,<br />Pixels Advertising</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://twitter.com/linc01n"><span class="fa fa-twitter"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://github.com/linc01n"><span class="fa fa-github"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://hk.linkedin.com/in/lincolndothk"><span class="fa fa-linkedin"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="http://blog.lincoln.hk/"><span class="fa fa-rocket"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/adam-pahlevi.png" alt="Adam Pahlevi" class="img-responsive"></div>
          <h3 class="name">ADAM PAHLEVI</h3>
          <p class="text-alt"><small>Software Engineer,<br />Veritrans Indonesia</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://twitter.com/adamvim"><span class="fa fa-twitter"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://github.com/saveav"><span class="fa fa-github"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/calum-halcrow.jpg" alt="Calum Halcrow" class="img-responsive"></div>
          <h3 class="name">CALUM HALCROW</h3>
          <p class="text-alt"><small>Co-Founder & CTO,<br />Rapid River Software</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/calumhalcrow"><span class="fa fa-facebook"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://twitter.com/calumhalcrow"><span class="fa fa-twitter"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://github.com/calumhalcrow"><span class="fa fa-github"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/calumhalcrow"><span class="fa fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/tristan-gomez.jpg" alt="Tristan Gomez" class="img-responsive"></div>
          <h3 class="name">TRISTAN GOMEZ</h3>
          <p class="text-alt"><small>Chief Problem Solver,<br />Mindvalley</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://github.com/parasquid"><span class="fa fa-github"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="http://life.beyondrails.com"><span class="fa fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3"><br /></div>
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/dhendy.jpg" alt="Dhendy Ferdian" class="img-responsive"></div>
          <h3 class="name">DHENDY FERDIAN</h3>
          <p class="text-alt"><small>Senior Engineer,<br />Booster</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/dhendyferdian"><span class="fa fa-facebook"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://github.com/dferdian"><span class="fa fa-github"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="http://www.dhendyferdian.com/"><span class="fa fa-rocket"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speaker">
          <div class="photo-wrapper rounded"><img src="/assets/img/speakers/axel-kee.jpg" alt="Axel Kee" class="img-responsive"></div>
          <h3 class="name">AXEL KEE</h3>
          <p class="text-alt"><small>iOS Developer,<br />SweetSpot Digital</small></p>
          <ul class="speaker-socials">
            <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/axelkee"><span class="fa fa-facebook"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://twitter.com/soulchild___"><span class="fa fa-twitter"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://github.com/cupnoodle"><span class="fa fa-github"></span></a></li>
            <li><a target="_blank" rel="nofollow" href="https://littlefox.es"><span class="fa fa-rocket"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3"><br /></div>
    </div>

    <div class="col-sm-12 align-center">
      <p><a href="/speakers" class="btn btn-outline-clr btn-md">MORE ABOUT OUR SPEAKERS</a></p>
    </div>

    <p><br /><br /></p>
    <p>Submit your <a href="/call-for-proposal">talk proposal here</a> and become <span class="highlight">RubyConf speaker</span> yourself today.</p>

  </div>

</section>

<section id="schedule" class="section schedule-section align-center">
  <div class="container">
    <span class="icon section-icon icon-office-21"></span>
    <h3>Schedule</h3>
    <br />
    <br />

    <div class="col-md-10 col-md-offset-1">

      <!-- Schedule start -->
      <div class="row schedule schedule-light">

        <!-- Navigation by day start -->
        <ul class="nav nav-schedule">
          <li class="active"><a href="#track1" data-toggle="tab">Track #1</a><div class="arrow"></div></li>
          <li><a href="#track2" data-toggle="tab">Track #2</a><div class="arrow"></div></li>
        </ul>
        <!-- Navigation by day end -->

        <!-- First level content start -->
        <div class="tab-content">

          <!-- Track 1 content start -->
          <div id="track1" class="tab-pane fade active in">

            <!-- Accordion start -->
            <div class="panel-group" id="track1_timeline">

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time1" class="schedule-item-toggle">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>9:00 AM - 9:30 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Registration <i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time2" class="schedule-item-toggle">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>9:30 AM - 10:00 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Introduction & Keynote <i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time3" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 AM - 1:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentations / Workshops<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time6" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>1:00 PM - 2:00 PM</strong>
                  <div class="lecture-icon-wrapper">
                    <span class="fa fa-cutlery"></span>
                  </div>
                  <h6 class="title">Lunchtime<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>2:00 PM - 6:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentations / Workshops<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track1_timeline" href="#track1_timeline_time8" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>6:00 PM - 6:30 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Closing<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

            </div>
            <!-- Accordion end -->

          </div>
          <!-- Track 1 content end -->

          <!-- Track 2 content start -->
          <div id="track2" class="tab-pane fade in">

            <!-- Accordion start -->
            <div class="panel-group" id="track2_timeline">

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time1" class="schedule-item-toggle">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>9:00 AM - 9:30 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Registration <i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time2" class="schedule-item-toggle">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>9:30 AM - 10:00 AM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Introduction & Keynote <i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time3" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 AM - 1:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentations / Workshops<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time6" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>1:00 PM - 2:00 PM</strong>
                  <div class="lecture-icon-wrapper">
                    <span class="fa fa-cutlery"></span>
                  </div>
                  <h6 class="title">Lunchtime<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time7" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>2:00 PM - 6:00 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Presentations / Workshops<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->


              <!-- Lecture start -->
              <div class="panel schedule-item">
                <a data-toggle="collapse" data-parent="#track2_timeline" href="#track2_timeline_time8" class="schedule-item-toggle collapsed">
                  <strong class="time highlight"><span class="icon icon-office-24"></span>6:00 PM - 6:30 PM</strong>
                  <div class="lecture-icon-wrapper"></div>
                  <h6 class="title">Closing<i class="icon icon-arrows-06"></i></h6>
                </a>
              </div>
              <!-- Lecture end -->

            </div>
            <!-- Accordion end -->

          </div>
          <!-- Track 2 content end -->

        </div>
        <!-- First level content end -->

      </div>
      <!-- Schedule end -->

      <br />
      <br />

      <p>Detailed schedule will be announced around <span class="highlight">end of June</span>. So stay tuned...</p>
    </div>

  </div>

</section>


<section id="tickets" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-shopping-04"></span>
    <h3>Tickets</h3>
    <p class="text-alt">Get yours while they're still <span class="highlight">available</span></p>
    <br/>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        <div class="package-column">
          <h6 class="package-title">Super Early Birds</h6>
          <div class="package-price">
            <span class="currency">RM</span>35
          </div>
          <div class="package-detail">
            First 30 Attendees
          </div>
          <a href="#" onclick="return false;" class="btn btn-lg btn-black">Sold Out</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="package-column special-column">
          <h6 class="package-title">Early Birds</h6>
          <div class="package-price">
            <span class="currency">RM</span>45
          </div>
          <div class="package-detail">
            Next 50 Attendees
          </div>
          <a href="https://peatix.com/sales/event/164219/tickets" target="peatix" class="btn btn-lg btn-outline-clr">Buy now</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="package-column">
          <h6 class="package-title">Late Birds</h6>
          <div class="package-price">
            <span class="currency">RM</span>60
          </div>
          <div class="package-detail">
            You snooze you lose ...
          </div>
          <a href="https://peatix.com/sales/event/164219/tickets" target="peatix" class="btn btn-lg btn-outline-clr">Buy now</a>
        </div>
      </div>
    </div>


  </div>
</section>

<section id="code-of-conduct" class="section overlay overlay-clr bg-cover light-text align-center">
  <div class="container">
    <h2>Code of Conduct</h2>
    <p>
      All attendees, speakers, sponsors and volunteers at our conference are required to agree with our code of conduct.<br />
      Organisers will enforce this code throughout the event. We expect cooperation from all participants to help ensure a safe environment for everybody.
    </p>
    <br />
    <br />

    <a href="/code-of-conduct" class="btn btn-lg btn-outline">Code of Conduct</a>
  </div>
</section>

<section id="sponsors" class="section align-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 align-center">
        <span class="icon section-icon icon-documents-bookmarks-12"></span>
        <h3>Event Sponsors</h3>
        <p class="text-alt">companies that <span class="highlight">supports</span> us</p>
        <br/>
        <br/>
        <div class="sponsors">
          <div class="sponsor inline"><a href="http://rrsoft.co" rel="nofollow" target="_blank"><img src="assets/img/sponsors/rrsoft.png" alt="Rapid River Software"></a></div>
          <div class="sponsor inline"><a href="https://hired.com.sg" rel="nofollow" target="_blank"><img src="assets/img/sponsors/hired.jpg" alt="H I R E D"></a></div>
        </div>
        <br/>
        <br/>
        <div class="sponsors">
          <div class="sponsor inline"><a href="https://piktochart.com/" rel="nofollow" target="_blank"><img src="assets/img/sponsors/piktochart.png" alt="Piktochart"></a></div>
        </div>
        <br/>
        <br/>
      </div>
      <div class="col-sm-12 align-center">
        <a href="/sponsors" class="btn btn-outline-clr btn-md">MORE ABOUT OUR SPONSORS</a>
      </div>
    </div>
    <div class="cleafix"><br /><br /><br /><br /><br /><br /><br /><br /></div>
    <div class="row">
      <div class="col-sm-12 align-center">
        <h4>Event Partners</h4>
        <p class="text-alt">our <span class="highlight">partners</span> for the event</p>
        <br/>
        <br/>

        <div class="partners">
          <div class="partner inline"><a href="http://makespace.my" target="_blank"><img src="assets/img/partners/makespace.png" alt="Makespace"></a></div>
          <div class="partner inline"><a href="http://betacode.io" target="_blank"><img src="assets/img/partners/betacode.png" alt="Betacode"></a></div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="location">
  <div class="contacts-wrapper">
    <div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

    <div class="container contacts-on-map-container">
      <div class="contacts-on-map">
        <h3>Location</h3>

        <ul class="list">
          <li>
            <i class="fa fa-map-marker" style="height:90px"></i>
            <div style="display: inline-block">
              <strong>Makespace</strong><br />
              LG16, Quill City Mall<br />
              1018, Jalan Sultan Ismail<br />
              50250 Kuala Lumpur
            </div>
          </li>
          <li><i class="fa fa-envelope"></i>organisers@rubyconf.my</li>
        </ul>
      </div>
    </div>
  </div>
</section>
