<section class="footer">

  <div class="footer-base">
    <div class="container">

      <div class="col-md-6">
        <ul class="footer-nav">
          <li class="footer-nav-item"><a href="/code-of-conduct">Code of Conduct</a></li>
          <li class="footer-nav-item"><a href="/sponsorship">Sponsorship</a></li>
        </ul>
      </div>

      <div class="col-md-6 align-right">
        {% include social-navs.html %}

        <p class="text-alt"><small>All Rights Reserved © 2016</small></p>
      </div>

    </div>
  </div>
</section>
