<ul class="socials-nav align-right">
  <li class="socials-nav-item"><a target="_blank" href="https://twitter.com/klxrb"><span class="fa fa-twitter"></span></a></li>
  <li class="socials-nav-item"><a target="_blank" href="https://facebook.com/groups/klxrb"><span class="fa fa-facebook"></span></a></li>
  <li class="socials-nav-item"><a target="_blank" href="https://github.com/rubyconfmy"><span class="fa fa-github"></span></a></li>
  <li class="socials-nav-item"><a target="_blank" href="/slack_invite"><span class="fa fa-slack"></span></a></li>
</ul>
