<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Ruby Conference KL 2016</title>

  <meta name="description" content="Official site of RubyConf Malaysia">
  <meta name="keywords" content="ruby, conference, unconference, conf, unconf, malaysia, kuala lumpur, kl">
  <meta name="author" content="Jimmy Ngu">

  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.jpg">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.jpg">

  <link rel="stylesheet" type="text/css" href="/assets/css/custom-animations.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

  <!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.js"></script>
  <script src="/assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  {% include google-analytics.html %}
  
  {{ content }}

  {% include footer.html %}


  <!--[if lt IE 9]>
  <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js?ver=1"></script>
  <![endif]-->
  <!--[if (gte IE 9) | (!IE)]><!-->
  <script type="text/javascript" src="assets/js/jquery-2.1.4.min.js?ver=1"></script>
  <!--<![endif]-->

  <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="assets/js/toastr.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.appear.js"></script>
  <script type="text/javascript" src="assets/js/jquery.plugin.js"></script>
  <script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
  <script type="text/javascript" src="assets/js/jquery.countdown.js"></script>
  <script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="assets/js/modal-box.js"></script>
  <script type="text/javascript" src="assets/js/ventcamp.js"></script>

</body>
</html>
