<!doctype html>
<html lang="en">

{% include head.html %}

<body>
  {% include google-analytics.html %}

  {% include header.html %}

  {{ content }}

  {% include footer.html %}


  <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/assets/js/toastr.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.appear.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.plugin.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.countTo.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.countdown.js"></script>
  <script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="/assets/js/modal-box.js"></script>
  <script type="text/javascript" src="/assets/js/ventcamp.js"></script>

</body>
</html>
